doctype html
include includes/head.pug
body
    include includes/nav.pug
    #content
        h1 Sobre esto
        p.smallwidth
            | En construccion
        br
        a#back.button(href='javascript:history.back()') Atras