doctype html
include includes/head.pug
body
    include includes/nav.pug
    #content
        span.header
            h1 Enviado
            p Agregaste tu bot a la lista. Espera a que sea aprobado
        a.button(href='javascript:history.back()') Volver
        a.button(href='/') Inicio