doctype html
include ../includes/head.pug
body
  include ../includes/nav.pug
  #content
    span.header
        h1 Error
        p Usuario no encontrado :scream:
        h4
            | Unirse al servidor oficial 
            a(target="_blank" href="/join") Aqui
